<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>The ejs file is workin</h1>
    <p></p>
    <% for(let i = 0 ; i < users.length ; i++){ %>
    <h1><%= users[i].name %></h1>
    <% } %>
  </body>
</html>
